* {
  box-sizing: border-box;
}
/* import a custom font (Abel) but change the name to fattylee */
@font-face {
  font-family: "fattylee";
  src: url(./Abel-Regular.ttf);
}
/*
 * successColor=#679a19
 * backgroundButton=#bb3c54
 * */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Fattylee;
  background: papayawhip;
}

.container {
  border: 1px solid crimson;
  width: 300px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.container.hide {
  display: none;
}
.header {
  padding: 20px 30px;
  background: #bb3c54;
  border-bottom: 1px solid grey;
}
.header h1 {
  margin: 0;
  color: #fff;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

.form-control {
  padding: 20px 30px;
  padding-top: 10px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 10px;
}
.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid;
}
.form-control.success input {
  border-color: #679a19;
  outline-color: #679a19;
}
.form-control input:focus {
  border-color: black;
}
.form-control.error input {
  border-color: red;
  outline-color: red;
}
.form-control i {
  position: absolute;
  top: 50px;
  right: 40px;
  visibility: hidden;
}
.form-control.success i.fa-check-circle {
  color: #679a19;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}
.form-control small {
  position: absolute;
  color: red;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}

.form [type="submit"] {
  color: white;
  background: #bb3c54;
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.form [type="submit"]:hover {
  color: #bb3c54;
  background: white;
}
/* Modal popup styling
 * */
.modal {
  text-align: center;
  display: none;
}
.modal.show {
  display: block;
}
.modal h2 {
  color: gold;
  font-size: 32px;
  text-shadow: 0 4px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
.modal p {
  font-size: 24px;
  color: maroon;
}
.modal a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: #bb3c54;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid maroon;
  transition: all 0.5s;
}
.modal a:hover {
  background: white;
  color: #bb3c54;
}
