* {
  box-sizing: border-box;
}
:root {
  --theme-bgcolor: papayawhip;
  --theme-header: #bb3c54;
  --success-border: #679a19;
  --error-border: red;
}
@media screen and (max-width: 400px) {
  * {
    /* --theme-bgcolor: coral; */
    --theme-header: #bb3c54;
    --success-border: #679a19;
    --error-border: red;
  }
}
/* import a custom font (Abel) but change the name to fattylee */
@font-face {
  font-family: "fattylee";
  src: url(./Abel-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Fattylee;
  background: var(--theme-bgcolor);
}

.container {
  border: 1px solid crimson;
  width: 300px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: relative;
}
.container.hide {
  display: none;
}
.header {
  padding: 20px 30px;
  background: var(--theme-header);
  border-bottom: 1px solid grey;
}
.header h1 {
  margin: 0;
  color: #fff;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

.form-control {
  padding: 20px 30px;
  padding-top: 10px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 10px;
}
.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid;
}
.form-control.success input {
  border-color: var(--success-border);
  outline-color: var(--success-border);
}
.form-control input:focus {
  border-color: black;
}
.form-control.error input {
  border-color: var(--error-border);
  outline-color: var(--error-border);
}
.form-control i {
  position: absolute;
  top: 50px;
  right: 40px;
  visibility: hidden;
}
.form-control.success i.fa-check-circle {
  color: var(--success-border);
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: var(--error-border);
  visibility: visible;
}
.form-control small {
  position: absolute;
  color: var(--error-border);
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}

.form [type="submit"] {
  color: white;
  background: var(--theme-header);
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  cursor: pointer;
  text-transform: capitalize;
  outline-color: var(--theme-header);
}
.form [type="submit"]:hover {
  color: var(--theme-header);
  background: white;
}
/* Modal popup styling
 * */
.modal {
  text-align: center;
  display: none;
}
.modal.show {
  display: block;
}
.modal h2 {
  color: gold;
  font-size: 32px;
  text-shadow: 0 4px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
.modal p {
  font-size: 24px;
  color: maroon;
}
.modal a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: var(--theme-header);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid maroon;
  transition: all 0.5s;
}
.modal a:hover {
  background: white;
  color: var(--theme-header);
}

/*------------- LOADER -------------*/
.loader {
  background: #65560a;
  display: none;
  position: absolute;
  width: 80%;
  justify-content: space-between;
  bottom: 94px;
  left: 30px;
  padding: 10px 20px;
  color: white;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader p {
  margin: 0;
}
/*-------x------ LOADER ------x-------*/

/*------- No js styling --------*/
.js-site {
  display: none;
}
.no-js {
  padding: 20px;
  text-align: center;
}
.no-js span {
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  color: greenyellow;
}
/*---x--- No js styling ----x---*/

/*------- sidebar --------*/
.sidebar {
  position: fixed;
  display: flex;
  min-height: 70px;
  top: 10vh;
  left: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar span {
  background: red;
  padding: 10px;
  border: 1px var(--theme-bgcolor) solid;
  transition: transform 0.4s;
}
.sidebar span:hover {
  border-color: var(--theme-header);
  transform: scale(1.2);
}

.sidebar span:nth-child(2) {
  background: pink;
}
.sidebar span:nth-child(3) {
  background: paleturquoise;
}
@media screen and (max-width: 378px) {
  .sidebar {
    flex-direction: row;
    position: static;
    min-height: 0;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 3px 3px 0 0;
  }
}
/*---x--- sidebar ----x---*/
