p:not(:last-child){
/* border-bottom: purple 1px solid; */
  background: -webkit-linear-gradient(left,green,red,pink,cyan,yellow,brown);
  color: purple;
}
p:not(:last-child):hover{

  background: -webkit-linear-gradient(right,green,red,pink,cyan,yellow,brown);
}

.dynamic-table{
  width: 90%;
margin: 10px auto;
border: 1px solid grey;
}
.dynamic-table thead,
.dynamic-table tbody{
  margin: 0;
}
.dynamic-table tr{
display: flex;
justify-content: space-between;
}
.dynamic-table thead tr{
background: red;
color: white;
}
.dynamic-table-striped tbody tr:nth-child(odd){
background: grey;
}
.dynamic-table-striped tbody tr:nth-child(even){
background: skyblue;
}
.dynamic-table-striped{
border: none;
}

.dynamic-table-striped tr{
color: white;
}


